@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,700&family=Quicksand:wght@400;500;600&family=Radio+Canada:wght@400;600&display=swap');
body{
    font-family: 'Montserrat', sans-serif!important;
    font-family: 'Nunito', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Radio Canada', sans-serif;

}

